@model BitirmeProjesi.Models.RequestViewModel

@{
    ViewData["Title"] = "İzin Onayı";
    var files = (IEnumerable<BitirmeProjesi.Models.FileModel>)ViewBag.Files;
    var user = ViewBag.User;
}

<h3>İzin Onayı</h3>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            İsim
        </dt>
        <dd class="col-sm-10">
            @user.Name
        </dd>
        <dt class="col-sm-2">
            İzin Sayısı
        </dt>
        <dd class="col-sm-10">
            @user.Permission Gün
        </dd>
        <dt class="col-sm-2">
            Maaş
        </dt>
        <dd class="col-sm-10">
            @user.Salary ₺
        </dd>
        <dt class="col-sm-2">
            İşe Başlama Tarihi
        </dt>
        <dd class="col-sm-10">
            @user.StartDate
        </dd>
    </dl>
</div>

@if (files.Any())
{
    <hr />
    <h3>Dosyalar</h3>
    <table class="table table-striped table-sm">
        <thead class="thead-light">
            <tr>
                <th class="col-md-5">Dosya Adı</th>
                <th class="col-md-3">Yükleyen</th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in files)
            {
                <tr>
                    <td>@file.Name@file.Extension</td>
                    <td>@file.UploadedBy</td>
                    <td class="text-right">
                        <a type="button" class="btn btn-primary" asp-controller="File" asp-action="Download" asp-route-id="@file.Id">İndir &nbsp <em class="fas fa-file-download"></em></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Details" method="post">
            <input type="checkbox" asp-for="Approve" />
            <label asp-for="Approve">İzni Onayla</label>
            <div class="form-group">
                <input type="submit" value="Gönder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

