@model IEnumerable<BitirmeProjesi.Models.Request>

@{
    ViewData["Title"] = "Index";
}

<h2>İzin Talepleri</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Talep Sahibi
            </th>
            <th>
                Kalan İzin Sayısı
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Permission) Gün
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Detaylar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
