@using Bitirme.Models
@model List<Bitirme.Models.UserViewModel>
@{
    ViewData["Title"] = "Personel Yönetimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@ViewData["Title"]</h3>
<table class="table table-striped mt-2">
    <thead >
        <tr>
            <th>İsim</th>
            <th>İşe Başlama Tarihi</th>
            <th>Maaş</th>
            <th>E-Posta</th>
            <th>Pozisyon</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.StartDate</td>
                <td>@user.Salary</td>
                <td>@user.Email</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td class="text-right">
                    <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Pozisyonu Düzenle</a>
                    <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Edit" asp-route-userId="@user.UserId">Bilgileri Düzenle</a>
                </td>
            </tr>
        }
    </tbody>
</table>