@model IEnumerable<BitirmeProjesi.Models.Course>

@{
    ViewData["Title"] = "Eğitimlerim";
}

<h3>@ViewData["Title"]</h3>

<table class="table table-striped col-md-6 mt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td class="text-right">
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Detaylar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
